.signUpForm {
  display: flex;
  flex-direction: column;
  input {
    margin-bottom: 1.5rem;
    border-radius: 0.75rem;
    padding: 0.5rem 1rem;
    border: 1px solid $GrayishViolet;
    &::placeholder {
      color: $GrayishViolet;
    }
  }
  input.error {
    border-color: $Red;
  }
}

.signUpFieldError {
  color: $Red;
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}
