$Cyan: #2acfcf;
$DarkViolet: #3b3054;
$Red: #f46262;
$Gray: #bfbfbf;
$GrayishViolet: #9e9aa8;
$VeryDarBlue: #35323e;
$VeryDarkViolet: #232127;
$BGligt: #eff1f7;

@mixin poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin poppins-medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
}

@mixin poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin hover {
  @media (any-hover: hover) {
    @content;
  }
}

@mixin pc_display {
  @media (width >= 1024px) {
    @content;
  }
}

@mixin tablet_display {
  @media (width >= 767px) {
    @content;
  }
}

