.mainInfo {
  display: flex;
  flex-direction: column;
  padding-bottom: 5.5rem;
  @include tablet_display {
    flex-direction: row-reverse;
    padding-bottom: 4.25rem;
    gap: 1rem;
  }
}

.imageContainer {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  @include tablet_display {
    width: 50%;
  }
  &__image {
    width: 150%;
    flex-grow: 0;
    flex-shrink: 0;
    max-inline-size: none;
    @include tablet_display {
      width: 100%;
    }
    @include pc_display {
      width: 120%;
    }
  }
}

.mainInfoText {
  margin-top: 2.3125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet_display {
    margin-top: unset;
    align-items: baseline;
  }
  &__heading {
    font-size: 2rem;
    @include tablet_display {
      font-size: 3.25rem;
      line-height: 1.13;
      letter-spacing: -0.125rem;
      text-align: left;
    }
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: -0.0656rem;
    text-align: center;
    color: #34313d;
  }

  &__text {
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 0.0075rem;
    text-align: center;
    color: $GrayishViolet;
    margin-bottom: 2rem;
    margin-top: 0.9375rem;
    @include tablet_display {
      line-height: 1.64;
      letter-spacing: 0.15px;
      text-align: left;
      margin-top: 0.3125rem;
      margin-bottom: 2.375rem;
    }
  }
}
